{% extends 'base.html.twig' %}

{% block title %}Rose de Damas{% endblock %}

{% block body %}
</p>
<section class ="sweets">
  <div align ="center">

    {% for sweet in sweets %}
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">{{sweet.name}}</div>
      <div class="card-body">
          <img style="height: 200px; width: 100%; display: block;" src={{sweet.image}} alt="Image de {{sweet.name}}">
        <p class="card-text">
          <div class = "ing">
             {% for ingredient in  sweet.ingredient %} 
                 {{ingredient.name}} &nbsp
             {% endfor %}
           </div>
        </p>
        <a href="{{path("ingredients", {"id" : sweet.id})}}" class ="btn btn-primary">Ingrédients </a>  
      </div>
    </div>
    {% endfor %}

  </div>
</section>
{% endblock %}
